# Terraform
.terraform/
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Sensitive var files
*.tfvars
*.tfvars.json
.terraform/
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
gke_gcloud_auth_plugin_cache
gcp-key.json
kubeconfig.yaml
tfplan.out
gke_gcloud_auth_plugin_cache
