# ansible/roles/sample_app/tasks/main.yml

- name: Create application namespace
  kubernetes.core.k8s:
    kubeconfig: "{{ playbook_dir }}/../kubeconfig.yaml"
    name: sample-app
    api_version: v1
    kind: Namespace
    state: present

- name: Deploy sample application (Deployment and Service)
  kubernetes.core.k8s:
    kubeconfig: "{{ playbook_dir }}/../kubeconfig.yaml"
    state: present
    definition:
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: portfolio-app
        namespace: sample-app
        labels:
          app: portfolio
      spec:
        replicas: 2
        selector:
          match_labels:
            app: portfolio
        template:
          metadata:
            labels:
              app: portfolio
          spec:
            containers:
            - name: simple-web
              image: "{{ app_image | default('nginx:latest') }}" # Use variable with default
              ports:
              - container_port: 80

- name: Expose application via LoadBalancer Service
  kubernetes.core.k8s:
    kubeconfig: "{{ playbook_dir }}/../kubeconfig.yaml"
    state: present
    definition:
      apiVersion: v1
      kind: Service
      metadata:
        name: portfolio-service
        namespace: sample-app
      spec:
        type: LoadBalancer
        selector:
          app: portfolio
        ports:
        - protocol: TCP
          port: 80
          targetPort: 80

- name: Wait for LoadBalancer Hostname (AWS ELB)
  kubernetes.core.k8s_info:
    kubeconfig: "{{ playbook_dir }}/../kubeconfig.yaml"
    api_version: v1
    kind: Service
    name: portfolio-service
    namespace: sample-app
  register: lb_service
  until: lb_service.resources[0].status.loadBalancer.ingress is defined
  retries: 60
  delay: 10

- name: Display Application URL
  ansible.builtin.debug:
    msg: "Application URL: http://{{ lb_service.resources[0].status.loadBalancer.ingress[0].hostname }}"